* {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.banner-text h1 {
  font-size: 38px;
  text-align: right;
  align-items: flex-end;
  font-weight: bold;
  line-height: 23px;
}
.banner-text p {
  font-size: 14px;
  text-align: right;
  align-items: flex-end;
  color: rgb(125, 125, 125);
}

.banner-bg {
  height: 500px;
  justify-content: space-between;
}

.banner-text img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.sub-banner {
  position: relative;
  text-align: center;
}

.sub-banner-container {
  position: relative;
  width: 100%;
}

.sub-banner-container img {
  width: 100%;
}

.sub-banner-container p {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.text-over-img h1 {
  position: absolute;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
}

.center-icon {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.text-center h1 {
  text-align: center;
  font-size: 28px;
}

.text-center h2 {
  line-height: 10px;
  text-align: center;
  font-size: 25px;
}

.text-center p {
  line-height: 10px;
  font-weight: lighter;
  text-align: center;
  color: black;
  font-size: 14px;
}

.icon-desc p {
  color: #f580eb;
  font-size: 14px;
  font-weight: normal;
}

.mobile-showcase-image{
  display: flex;
  justify-content: center;
}

.mobile-showcase-image img {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
}

.promotion-tag p {
  font-weight: normal;
  font-size: 15px;
  color: rgb(125, 125, 125);
}

.center-mobile-showcase-image img {
  justify-content: center;
  margin: 0 auto;
  display: block;
}

.mobile-app-download{
  font-size: 2.5rem;
  text-align: center;
  align-items: flex-end;
  font-weight: bold;
  line-height: 23px;
}

.checkpoint-app img{
  width: 120px;
  padding-top: 0;
  border: 2px;
  border-radius: 25px;
}

.download-now{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.center-mobile-app-section {
  display: flex;
  justify-content: center;
}

.checkpoint-app-desc p{
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #C4C4C4
}

.all-right-reserved p{
  font-size: 10px;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1px;
}

.footer{
  display: flex;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(34, 34, 34);
  color: white;
  text-align: center;
  display: block;
}

.footer p {
  color: white;
  text-align: center;
}

.footer-desc p{
  font-size: 12px;
  text-align: center;
}

.center-social-icon {
  justify-content: center;
  margin: 0 auto;
  display: block;
}

.social-icon {
  width: 120px;
  padding-top: 0;
  border: 2px;
  border-radius: 25px;
}

.social.icon {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.youtube {
  color: #FFFF;
}

a.facebook {
  color: #FFFF;
}

a.twitter {
  color: #FFFF;
}

a.instagram {
  color: #FFFF;
}

.checkpoint-footer-logo img{
  color: white;
  justify-content: center;
  text-align: center;
  width: 100px;
}

.get-premium-header p{
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}