* {
    font-family: 'Inter', sans-serif;
  }
  
.container {
    max-width: 960px;
}

.header{
    background: white;
    height: 50px;
    /* border-bottom: 1px solid rgb(195, 195, 195); */
}
.header-con{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.logo-container{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
}
.menu{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.menu li{
    padding-left: 1rem;
}

.menu li a {
    text-decoration: none;
    color: black;
    align-items: center;
}
.menu-link li{
    align-items: center;
}
.mobile-menu {
    display: none;
}